body {
	padding-top: 70px; 
	/*This will make content uder the navbar to show*/
	
	overflow: hidden;
	/*This is for the scrolling of the loader ,so the visitor will not scroll while the website is being loaded  */

}
/*
Here we want to style the active link ,so click on that link and copy all the classes that uses it 
from the inspect element and style them 
-Remember to link the personal style sheet after the bootstrap to make your sheet the dominant
*/

/*****Start overriding bootstrap********/

h1, h2, h3, h4, h5, .lead {font-family: 'Titillium Web', sans-serif;}

/*Main Navbar*/
.navbar 
{
	min-height: 70px;
	margin-bottom: 0;
	border-radius: 0;
}



/*Navbar Link*/
.navbar-inverse .navbar-nav > li > a
{
	color: #BBB;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 16px;
}


/*Brand Name*/

.navbar-inverse .navbar-brand 
{
	color: #BBB;
	font-size: 30px;
	line-height: 40px;
}



/*Dropdown Menu*/

.dropdown-menu 
{
	background-color: #333;
	min-width: 200px;
}

.navbar-right .dropdown-menu 
{
	left: 0;
	right: auto;
}

/*Dropdown links*/
.dropdown-menu > li > a
{
	color: #FFF;
	padding: 6px 20px;
	-webkit-transition: padding .5s ease;
	-moz-transition: padding .5s ease;
	-o-transition: padding .5s ease;
	transition: padding .5s ease;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus 
{
	color: #FFF;
	padding-left: 25px; 
}

/*Dropdown Divider*/

.dropdown-menu .divider {background-color: #871818;}

/*Navbar toggle*/

.navbar-toggle {margin-top: 18px;}

/*Carousel*/

.carousel-caption
{
	bottom: 70px;
	background-color: rgba(3,3,3,0.3);
	padding-right: 20px;
	padding-left: 20px;
}

.carousel-indicators {bottom: 0;}

.carousel-indicators li 
{
	height: 15px;
	width: 15px;
	border: 1px solid #EEE;
}


.carousel-indicators .active
{
	height: 17px;
	width: 17px;
}

.carousel-inner > .item > img {
	width: 100%; 
	/*This is to make the images of the carousel have full width ,so if we made a far zoom out the images will not be distorted*/
}

/*Start section about*/

.about {
	padding-top: 60px;
	padding-bottom: 60px;
}

.about .lead {
	color: #888;
	margin-top: 15px;
	font-size: 25px;
}

.about h1 {	font-weight: bold;}

/*End section about*/


/*Start section features*/
.features {
	background-color: #eee;
	padding-top: 50px;
	padding-bottom: 50px;
}

.features .feat {margin-bottom: 30px;}

.features .feat p {
	line-height: 1.5em;
	text-align: left;
}

.features .feat span .glyphicon {
	font-size: 30px;
	margin-bottom: 10px;
	color: #666;

}

/*End section features*/

/*Start testimonials section*/

.testimonials {
	padding-top: 50px;
	padding-bottom: 50px;
}


.testimonials .lead {
	line-height: 2em;
	margin-bottom: 10px
}

.testimonials span {
	font-size: 20px;
	font-weight: bold;
}

.testimonials .carousel-inner {min-height: 160px;}

.testimonials .carousel-indicators { 
	/*Here we get the bullets under the name of the client and center it using the margin*/
	position: static;
	width: 100%;
	margin-left: auto;
	padding-top: 15px;
}

.testimonials .carousel-indicators li {
	/*Here we increase the size of the bullets to insert the images of the cliens within*/
	text-indent: 0;
	width: 80px;
	height: 80px;
	opacity: 0.4;
	border-radius: 50%;
	overflow: hidden; /*To hide the extra part of the image out of the li element */
	border: 3px solid #fff;
	margin: 5px;
} 

.testimonials .carousel-indicators li.active {
	width: 80px;
	height: 80px;
	opacity: 1;
	background: none;
}

.testimonials .carousel-indicators li img {
	/*To style images within the li elements*/
	max-width: 100%;
}

/*End testimonials section*/

/*Start Section Price Table*/

.price_table {
	background-color: #EEE;
	padding-top: 40px;
	padding-bottom: 40px;
}

.price_table .price_box {
	padding: 10px;
	border: 1px solid #DDD;
	background: #FFF;
	margin-bottom: 20px;
}

.price_table .price_box:hover p /*p will be styled when the box is hovered*/
{
	-webkit-transform: scale(1.1,1.1) rotate(360deg);
	-moz-transform: scale(1.1,1.1) rotate(360deg);
	-o-transform: scale(1.1,1.1) rotate(360deg);
	transform: scale(1.1,1.1) rotate(360deg);
	border: 2px solid #DFDFDF;
}

.price_table .price_box h2 {margin: 5px 0 15px;}

.price_table .price_box p {
	font-size: 35px;
	font-weight: bold;
	color: #666;
	width: 100px;
	height: 100px;
	background-color: #F3F3F3;
	border-radius: 50%;
	line-height: 100px; 
	/*We made the line height the same as height to make the text at the center of the circle*/ 
	border: 2px solid #FFF;
}


.price_table .price_box ul {
	line-height: 250%;
	font-size: 18px;
}

.price_table .price_box a {margin-bottom: 5px;} 

/*End Section Price Table*/

/*Start Our Team*/

.our_team {
	background: url('../img/team.jpg') no-repeat center center fixed;
	min-height: 600px;
}

.our_team .team {
	background-color: rgba(2,2,2,0.7);
	min-height: 600px; /*The same as the whole section to make the opacity full height of the section*/
	color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;

}

.our_team .person {margin-bottom: 50px;}


/*End Our Team*/


/*Start Section Subscribe*/
.subscribe {
	padding-top: 40px;
	padding-bottom: 70px;
	background-color: #eee;
}

.subscribe .h1 {
	color: #888;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.subscribe p {margin-bottom: 30px;}
.subscribe .form-control {
	border-radius: 0;
	margin-right: -5px;
	width: 300px;
}

.subscribe button {border-radius: 0;}

/*End Section Subscribe*/

/*Start Section Statistics*/
.statistics {
	background: url('../img/stats.jpg') no-repeat center center fixed;
	min-height: 300px;
}

.statistics .data {
	background-color: rgba(2,2,2,0.8);
	color: #B6B5B5;
	min-height: 300px;
	padding-top: 40px;
	padding-bottom: 70px;
}

.statistics .stats {margin-bottom: 30px;}

.statistics .stats:hover {color: #FFF; }

.statistics p {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 0;

}

.statistics span {font-size: 18px;}

/*End Section Statistics*/

/*Start Section Skills */

.our-skills {
	padding-top: 40px;
	padding-bottom: 70px;
}


.our-skills h3 {
	font-weight: bold;
	margin-top: 0;
}

.our-skills .progress {height: 36px;}

.our-skills .progress-bar {
	line-height: 36px; /*If you want to center a text in a container , give the box that have the text same line hieght as its direct parent container */
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	text-indent: 10px;
}
/*End Section Skills */


/*Start Contact Us*/
.contact-us {
	background: url('../img/contact-us.jpg') no-repeat center center fixed;
	min-height: 300px;
}

.contact-us .fields {
	background-color: rgba(9,9,9,0.8);
	color: #DDD;
	min-height: 300px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.contact-us p {margin-bottom: 40px;}

.contact-us textarea {
	margin-bottom: 15px;
	min-height: 106px;
}

.contact-us input[type="text"],
.contact-us input[type="email"],
.contact-us input[type="number"],
.contact-us textarea {
	background-color: rgba(82,78,78,0.7);
	color: #FFF;
	border: none;
}
/*End Contact Us*/


/*Start Section Clients*/
.our-clients {
	background-color: #eee;
	padding-top: 20px;
	padding-bottom: 20px;
}

.our-clients img {
	opacity: 0.4;
	filter: alpha(opacity=40); /*This is for internet explror*/
	margin-top: 20px;
	margin-bottom: 20px;
}

.our-clients img:hover {opacity: 1;}

/*End Section Clients*/

/*Start Section Footer*/
.footer {
	background-color: #111;
	color: #AAA;
	padding-top: 10px; 
}

.footer a {color: #AAA;}

.footer a:hover {color: #FFF;}

.footer h3 {
	letter-spacing: 1px;
	margin: 30px 0 20px;
}

.footer .three-columns {overflow: hidden;}

.footer .three-columns li {
	width: 33.3333%;
	float: left;
	padding: 5px 0;
}

.footer .social-list {
	overflow: hidden;
	margin: 20px 0 10px;
}

.footer .social-list li {
	float: left;
	margin-right: 3px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.footer .social-list li:hover {opacity: 1;}

.footer .img-thumbnail {
	background-color: rgba(0,0,0,0.2);
	border: 1px solid #444;
	margin-bottom: 5px;
}

.footer .copyright {
	background-color: #333;
	color: #AAA;
	padding: 15px 0;
	margin-top: 30px;
	font-size: 18px;
}


/*End Section Footer*/


/*Start Section Tool Box*/
.option-box
{
	position: fixed; /*This is to make the box drops as you are scrolling*/
	top: 100px;
	left: 0;
	z-index: 9999;
}

.option-box .color-option 
{
	float: left;
	background-color: #333;
	padding: 10px;
	color: #fff;
	width: 200px;
	display: none;

}

.option-box .color-option ul li
{
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: inline-block;
	margin-right: 3px;

}

.option-box .gear-check
{
	padding: 5px;
	color: #FFF;
	cursor: pointer;
}

/*End Section Tool Box*/


/*Start Section Loading*/
.loading-overlay {
	background-color: #222;
	color: #FFF;
	position: absolute; 
	/*
	To make the loader take the full dimensions of all pages we should use the absolute position 
	which is the same like the fixed referred to the body
	*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999; /*To make the loader become above all the pages*/
}

/*This code is from CSS3 Spinner*/
.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 300px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*End Section Loading*/

/*Start Scroll up*/

#scroll-top {
	width: 50px;
	height: 40px;
	color: #DDD;
	background-color: #272727;
	text-align: center;
	position: fixed;
	right: 15px;
	bottom: 10px;
	z-index: 9999;
	display: none;
	cursor: pointer;
}

#scroll-top:hover {background-color: #444;}
/*End Scroll Up*/

/*Start Our Grouping System*/


.contact-us, .statistics, .our_team { 
	-webkit-background-size: cover;
	 /*This is important as if we zoom out as much as we can the image will take the full width of the container*/
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.features .h1,
.testimonials .h1,
.testimonials .h1,
.our_team .h1,
.price_table .h1,
.statistics .h1,
.our-skills .h1 {margin-bottom: 50px;}


.testimonials .carousel-indicators li,
.footer .social-list li,
.our-clients img,
.statistics .stats,
.price_table .price_box p {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*End Our Grouping System*/